DATABASE_URL=postgresql://postgres:postgres@localhost:5432/example-work

BLOB_READ_WRITE_TOKEN=

AI_GATEWAY_API_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

STRIPE_SECRET_KEY=sk_test_[example]
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_[example]
STRIPE_WEBHOOK_SECRET=whsec_[example]

NEXT_PUBLIC_STRIPE_PAYMENT_URL=https://buy.stripe.com/test_[example]
NEXT_PUBLIC_STRIPE_SETTING_URL=https://billing.stripe.com/p/login/test_[example]

E2E_CLERK_USER_USERNAME=
E2E_CLERK_USER_PASSWORD=

E2E_TEST_TEAM_ID=
E2E_TEST_USER_ID=

DEV_TEAM_ID=
DEV_USER_ID=
